@model IEnumerable<UPFStore.Models.Offer>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-banner">
    <h1>1er site d'annonces gratuites au Maroc</h1>
    <p class="lead">
        Trouver la bonne affaire parmi @Model.Count() annonces
    </p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        var imagePath = item.OfferImages.FirstOrDefault() != null
            ? $"/Images/{item.OfferImages.FirstOrDefault()?.Path}"
            : "";

        <div class="col-md-4">
            <img class="img-thumbnail" style="width: 100%; max-height: 260px;" src="@(imagePath)" alt="Image de produit">
            <div class="text-center">
                <h5 class="card-title">@item.Price</h5>
                <p class="card-text">
                    @item.Description
                </p>
            </div>
            <div class="text-center">
                @Html.ActionLink("Details", "Details", "Offers", new { id = item.Id, view = "readOnly" }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>