@model IEnumerable<UPFStore.Models.Offer>

@{
    ViewBag.Title = "Category";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success pull-right"})
</p>

<div class="row">
    @foreach (var item in Model)
    {
        var imagePath = item.OfferImages.FirstOrDefault() != null 
            ? $"/Images/{item.OfferImages.FirstOrDefault()?.Path}"
            : "";

        <div class="col-md-4">
            <img class="img-thumbnail" src="@(imagePath)" alt="Image de produit">
            <div class="text-center">
                <h5 class="card-title">@item.Price</h5>
                <p class="card-text">
                    @item.Description
                </p>
            </div>
            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
    }
</div>